@use "libs/bootstrap-reboot.min";
@use "libs/bootstrap-grid";
@use "libs/fonts";
@use "libs/animate.min";
@use "libs/owl";
@use "libs/owl-theme-default";
@use "blocks/header";
@use "blocks/buttons";
@use "blocks/promo";

* {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	padding: 0;
}
