.header {
	min-height: 85px;
	padding: 20px 0 16px 0;
	&__wrapper {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		display: flex;
		justify-content: center;
	}
	&__descr {
		font-size: 12px;
	}
	&__title {
		font-size: 14px;
		font-weight: 700;
	}
	&__image{
		margin-right: 11px;
	}
}
